*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  color-scheme: light dark;
  font-family: system-ui;

  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.header{

  
  display: flex;
  flex-direction: row;


}

.header>div{
  padding: 1em;
  align-items: center;
}

.header_title{

}
.header_nav{

  display: flex;
  flex-direction: row;
}

.header_btn{
  
}